* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: lato, sans-serif;
}

body {
  background: #f4f6f8;
  background-image: url('../images/bg-webpuyuh.jpeg');
  background-size: cover;
}

/* container */
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 24px;
border-top: 2px solid #22c55e;
border-bottom: 2px solid #22c55e;
border-radius: 2px;
margin: 0px;
background: linear-gradient(to bottom, rgb(6, 138, 28), rgb(51, 134, 64));
}


.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo a{
  text-decoration: none;
}
.img-logo{
  width: 48px;
  height: auto;
  border-radius: 50%;
}
.menu {
  display: flex;
  list-style: none;
  gap: 24px;
  /* z-index: 9999; */
}

.menu li{
  position: relative;
}

.menu li a {
display: block;
color:  #fff;
text-decoration: none;
font-size: 16px;
}


.menu li a:hover {
  color: #60a5fa;
}

/* DROPDOWN */
.dropdown {
display: none;
position: absolute;
top: 100%;
left: 0;
background: linear-gradient(to bottom, rgb(4, 166, 4), rgb(41, 213, 107));
min-width: 200px;
box-shadow: 0 6px 16px rgba(0,0,0,0.15);
border-radius: 8px;
overflow: hidden;
z-index: 1000;
}


.dropdown li a {
display: block;
padding: 12px 16px;
color: #fff;
text-decoration: none;
font-size: 14px;
}


.dropdown li a:hover {
color: #60a5fa;
}


/* SHOW DROPDOWN ON HOVER */
.menu li:hover .dropdown {
display: block;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}


.hamburger span {
  height: 3px;
  width: 25px;
  background:  #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Animasi hamburger jadi X */
.hamburger.active span:nth-child(1) {
transform: rotate(45deg) translate(10px, 10px);
}


.hamburger.active span:nth-child(2) {
opacity: 0;
}


.hamburger.active span:nth-child(3) {
transform: rotate(-45deg) translate(6px, -6px);
}

/* HERO */
.hero {
text-align: center;
background: linear-gradient(rgba(20,83,45,0.85), rgba(20,83,45,0.85)), url('https://via.placeholder.com/1200x400');
background-size: cover;
background-position: center;
color: white;
padding: 100px 24px;
}


.hero h1 {
font-size: 36px;
margin-bottom: 16px;
}


.hero p {
font-size: 18px;
margin-bottom: 24px;
}

/* Jumbotron */
.jumbotron {
position: relative;
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color: white;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}


.slide {
position: absolute;
inset: 0;
display: flex;
align-items: center;
justify-content: center;
background-size: cover;
background-position: center;
opacity: 0;
transition: opacity 1.5s ease-in-out;
}


.slide.active {
opacity: 1;
}


.overlay {
background: rgba(20,83,45,0.75);
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}


/* TEXT */
.content {
max-width: 800px;
padding: 24px;
}


.content h1 {
font-size: 42px;
margin-bottom: 16px;
white-space: nowrap;
overflow: hidden;
border-right: 3px solid white;
width: 0;
animation: typing 4s steps(30) forwards, blink 0.8s infinite;
}


.content p {
font-size: 18px;
opacity: 0;
animation: fadeText 2s ease forwards;
animation-delay: 4s;
}


/* ANIMATION */
@keyframes typing {
from { width: 0; }
to { width: 100%; }
}


@keyframes blink {
50% { border-color: transparent; }
}


@keyframes fadeText {
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}

.btn:hover {
  background: #00c6fb;
}
.btn {
display: inline-block;
background: #22c55e;
color: white;
padding: 12px 24px;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
}


.btn:hover {
background: #16a34a;
}


.btn:hover {
background: #16a34a;
}

/* TENTANG KAMI */
.tentang {
background: #ffffff;
border-radius: 12px;
padding: 20px;
margin-top: 32px;
}

.tentang h2 {
text-align: center;
margin-bottom: 16px;
}

.tentang-wrapper {
display: grid;
grid-template-columns: 1.2fr 1fr;
gap: 32px;
align-items: center;
}

.tentang-text p {
margin-bottom: 16px;
color: #374151;
}


.tentang-box {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 16px;
}


.stat {
background: #ecfdf5;
padding: 24px 16px;
text-align: center;
border-radius: 12px;
}


.stat h3 {
font-size: 28px;
color: #16a34a;
margin-bottom: 4px;
}


.stat span {
font-size: 14px;
color: #065f46;
}

/* PRODUK */
.produk{
  margin-top: 32px;
  margin-bottom: 32px;
}

.produk h2 {
text-align: center;
margin-bottom: 32px;
}


.cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 24px;
}


.card {
background: white;
padding: 24px;
border-radius: 12px;
box-shadow: 0 4px 12px rgba(0,0,0,0.08);
text-align: center;
}


.card h3 {
margin-bottom: 8px;
color: #000;
}

.card img{
  width: 100%;
  height: auto;
}

.price {
display: block;
margin-top: 12px;
font-weight: bold;
color: #16a34a;
}


/* TESTIMONIAL */
.testimonial {
color: #000;
/* background: #ecfdf5; */
/* border-radius: 12px; */
text-align: center;
margin-top: 32px;
}

.testimonial h2{
  margin-bottom: 16px;
}
.testimonial .content{
  display: flex;
  justify-content: space-between;
}

.testimonial .content blockquote {
font-size: 18px;
font-style: italic;
flex-direction: column;
}

.slider-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  background: none;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.card-testimoni {
  min-width: 100%;
  /* background: white; */
  padding: 30px;
  /* border-radius: 15px; */
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card-testimoni img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card-testimoni h3 {
  margin: 5px 0;
}

.card-testimoni span {
  font-size: 14px;
  color: #777;
}

.card-testimoni p {
  margin-top: 15px;
  font-size: 15px;
  color: #555;
}

/* Tombol navigasi */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #22c55e;
  color: white;
  border: none;
  font-size: 22px;
  padding: 10px 14px;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: -15px;
}

.next {
  right: -15px;
}

.nav:hover {
  background: #00c6fb;
}

.img-profile{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
/* CONTAINER */
.container {
max-width: 1100px;
margin: 40px auto;
padding: 0 24px;
}


/* HEADER */
header {
/* background: #14532d; */
color: white;
padding: 24px;
text-align: center;
}


header h1 {
font-size: 32px;
margin-bottom: 8px;
}

/* TABLE HARGA */
.price-table {
width: 100%;
border-collapse: collapse;
background: white;
border-radius: 12px;
overflow: hidden;
box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


.price-table thead {
background: #166534;
color: white;
}


.price-table th,
.price-table td {
padding: 16px;
text-align: center;
}


.price-table tbody tr:nth-child(even) {
background: #f0fdf4;
}


.price {
font-weight: bold;
color: #16a34a;
}


/* INFO BOX */
.info {
margin-top: 32px;
background: #ecfdf5;
padding: 24px;
border-radius: 12px;
}


.info h3 {
margin-bottom: 12px;
color: #000;
}

.info ul{
  list-style: none;
  margin: 20px;
}
/* GALERI GRID */
.gallery {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 24px;
}


.gallery-card {
background: white;
border-radius: 12px;
overflow: hidden;
box-shadow: 0 4px 12px rgba(0,0,0,0.08);
transition: transform 0.3s ease;
}


.gallery-card:hover {
transform: translateY(-5px);
}


.gallery-card img {
width: 100%;
height: 200px;
object-fit: cover;
}


.gallery-content {
padding: 16px;
}


.gallery-content h3 {
margin-bottom: 8px;
color: #14532d;
}


.gallery-content p {
font-size: 14px;
color: #374151;
}


/* section kontak */
#kontak{
  max-width: 1100px;
  margin: 48px auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.form-group input,
.form-group textarea {
width: 100%;
padding: 12px;
border: 1px solid #d1d5db;
border-radius: 8px;
font-size: 14px;
}


.form-group textarea {
resize: vertical;
min-height: 120px;
}


.btn {
background: #22c55e;
color: white;
border: none;
padding: 12px 24px;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
font-weight: bold;
}


.btn:hover {
background: #16a34a;
}


/* INFO KONTAK */
.contact-info {
background: #ecfdf5;
padding: 32px;
border-radius: 12px;
}


.contact-info h2 {
margin-bottom: 16px;
color: #14532d;
}


.contact-info p {
margin-bottom: 12px;
}


.contact-info a {
color: #16a34a;
text-decoration: none;
font-weight: bold;
}

/* HEADER */
.page-header {
background: linear-gradient(rgba(20,83,45,0.8), rgba(20,83,45,0.8)),
url("https://images.pexels.com/photos/4666755/pexels-photo-4666755.jpeg");
background-size: cover;
background-position: center;
color: white;
padding: 80px 20px;
text-align: center;
}


.page-header h1 {
font-size: 36px;
margin-bottom: 12px;
}


.page-header p {
max-width: 700px;
margin: auto;
font-size: 18px;
}


/* VIDEO SECTION */
.video-section {
max-width: 1100px;
margin: 60px auto;
padding: 0 20px;
display: grid;
grid-template-columns: 2fr 1fr;
gap: 32px;
}

.video-wrapper {
background: white;
border-radius: 16px;
overflow: hidden;
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.video-wrapper iframe {
width: 100%;
display: block;
}

.video-content {
background: white;
padding: 24px;
border-radius: 16px;
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.video-content h2 {
margin-bottom: 16px;
color: #14532d;
}

.video-content ul {
padding-left: 18px;
margin-bottom: 20px;
}

.video-content ul li {
margin-bottom: 10px;
}

.badge {
display: inline-block;
background: #dcfce7;
color: #14532d;
padding: 6px 12px;
border-radius: 20px;
font-size: 14px;
margin-bottom: 16px;
}


/* VIDEO LIST */
.video-list {
max-width: 1100px;
margin: 40px auto 80px;
padding: 0 20px;
}


.video-list h3 {
margin-bottom: 20px;
color: #14532d;
}


.video-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 24px;
}


.video-card {
background: #ecfdf5;
border-radius: 4px;
overflow: hidden;
cursor: pointer;
box-shadow: 0 8px 24px rgba(0,0,0,0.08);
transition: transform 0.3s ease;
}


.video-card:hover {
transform: translateY(-6px);
}


.video-card iframe {
width: 100%;
height: 160px;
object-fit: cover;
}


.video-card .info {
padding: 14px;
}


.video-card .info h4 {
font-size: 16px;
margin-bottom: 6px;
}


.video-card .info span {
font-size: 13px;
color: #6b7280;
}

/* FOOTER */
.footer {
  background: #16a34a;
  color: #ddd;
  padding-top: 50px;
}

/* Container */
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Box */
.footer-box h3 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-box p {
  line-height: 1.8;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

/* Iframe map */
.footer-box iframe {
  width: 100%;
  height: 180px;
  border: 0;
  border-radius: 10px;
}

/* Footer bawah */
.footer-bottom {
  text-align: center;
  /* background: #000; */
  padding: 15px;
  font-size: 14px;
  color: #ddd;
}

#gallery{
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../images/burungpuyuh.jpeg');
  height: auto;
  line-height: auto;
}

  /* FLOATING WHATSAPP CTA */
.wa-float {
position: fixed;
width: 60px;
height: 60px;
bottom: 25px;
right: 25px;
background-color: #25D366;
border-radius: 50%;
box-shadow: 0 4px 15px rgba(0,0,0,0.3);
display: flex;
align-items: center;
justify-content: center;
z-index: 999;
animation: pulse 1.8s infinite;
}


.wa-float img {
width: 34px;
height: 34px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgb(6, 138, 28), rgb(51, 134, 64));
    flex-direction: column;
    align-items: flex-start;
    display: none;
    transition: left 0.3s ease;
  }


  .menu.active {
    display: flex;
  }

  .menu li {
    width: 100%;
    padding: 16px 24px;
  }

  .menu li a {
    width: 100%;
    display: block;
  }

  .dropdown {
    position: static;
    box-shadow: none;
    border-radius: 0;
  }

  .hamburger {
    display: flex;
  }

  .hero h1 {
    font-size: 24px;
  }

  .jumbotron{
    height: 60vh;
    z-index: -999;
  }
  .content h1 {
  font-size: 28px;
  }


  .content p {
  font-size: 16px;
  }
  .tentang-wrapper {
    display: grid;
    grid-template-columns:1fr;
    gap: 32px;
    align-items: center;
  }

  .card img{
    max-height: 200px;
    object-fit: cover;
  }

  .video-section {
    grid-template-columns: 1fr;
  }

  #kontak{
    grid-template-columns: 2fr;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-box iframe {
    height: 220px;
  }
}
